#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  background-color: #f9f8fd;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.initial-text-color {
  color: #000000;
  /* background-color: #417505;  */
}

.jodit_theme_summer {
  --jd-color-background-default: #417505;
  --jd-color-border: #474025;
  --jd-color-panel: #5fd3a2;
  --jd-color-icon: #8b572a;
}

#myjoditEditor {
  .jodit-wysiwyg {
    padding-left: 10px;
  }

  ul {
    list-style: inside !important;
  }

  ol {
    list-style: inside !important;
    list-style-type: number !important;
  }

  td {
    border: solid 1px;
  }
}

#myEditor {
  ul {
    list-style: inside !important;
  }

  ol {
    list-style: inside !important;
    list-style-type: number !important;
  }

  td {
    border: solid 1px;
  }
}

[aria-label='Insert file'] {
  display: none !important;
}

.custom-link-form input {
  color: #000;
  background-color: #fff;
}

.custom-link-form input::placeholder {
  color: #999;
}

.custom-link-form button {
  color: #fff;
  background-color: #6b4eff;
}

.custom-link-form-dark input {
  color: #fff;
  background-color: #575757;
}

.custom-link-form-dark input::placeholder {
  color: #999;
}

.custom-link-form-dark button {
  color: #fff;
  background-color: #6b4eff;
}

/* .jodit-ui-input__input {
  background-color: #5fd3a2;
} */

/* #images-grid {
  margin: 0.5rem;
} */

.my-masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
}

.my-masonry-grid_column img {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

/* .custom-link-form {
  background-color: #fff;
} */

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
